<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!--Style File-->
    <link rel="stylesheet" href="../../../assets/css/style.css" />
    <title>Aplicative Comercial</title>
</head>

<body>
    <main>
        <header>
            <div class="header-section">
                <div class="header-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="heading col">
                                <p class="title">Aplicative Comercial</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="body-section">
            <div class="main-body">
                <div class="main-body-wrapper mt-5">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 col-md-8">
                                <div class="col-left">
                                    <div class="col-left-img">
                                        <img src="./assets/images/building.jpg" alt="Image Missing" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="col-right">
                                    <div class="col-right-form">
                                        <div class="heading mx-auto mb-5">
                                            <h1 class="title">Iniciar Caixa</h1>
                                        </div>
                                        <div class="signin-form mx-auto">
                                            <form class="col-12 mx-auto px-0 mb-4">
                                                <div class="form-group mb-0">
                                                    <label class="mb-0" for="email">Codigo do Usuario:</label>
                                                    <input name="email" type="email" class="form-control bg-grey" [(ngModel)]="email" autofocus (focus)="onFocus($event.srcElement.name)">
                                                </div>
                                                <div class="form-group">
                                                    <label class="mb-0" for="pwd">Senha:</label>
                                                    <input name="pwd" type="password" class="form-control bg-grey" [(ngModel)]="pwd" (focus)="onFocus($event.srcElement.name)">
                                                </div>
                                            </form>
                                            <div class="calculator">
                                                <div class="row">
                                                    <div class="col px-0 number-buttons-group text-center">
                                                        <ul class="px-0 m-0">
                                                            <li>
                                                                <button id="1" class="number-button bg-grey" (click)="input('1')">1</button>
                                                                <button id="2" class="number-button bg-grey" (click)="input('2')">2</button>
                                                                <button id="3" class="number-button bg-grey" (click)="input('3')">3</button>
                                                            </li>
                                                            <li>
                                                                <button id="4" class="number-button bg-grey" (click)="input('4')">4</button>
                                                                <button id="5" class="number-button bg-grey" (click)="input('5')">5</button>
                                                                <button id="6" class="number-button bg-grey" (click)="input('6')">6</button>
                                                            </li>
                                                            <li>
                                                                <button id="7" class="number-button bg-grey" (click)="input('7')">7</button>
                                                                <button id="8" class="number-button bg-grey" (click)="input('8')">8</button>
                                                                <button id="9" class="number-button bg-grey" (click)="input('9')">9</button>
                                                            </li>
                                                            <li>
                                                                <button id="#" class="number-button bg-grey">&nbsp;</button>
                                                                <button id="0" class="number-button bg-grey" (click)="input('0')">0</button>
                                                                <button id="X" class="number-button bg-grey" (click)="removeChar()">
                                                                    <i class=" fa fa-times"></i>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="#" class="number-button py-2 btn1 btn-danger text-uppercase text-center" (click)="clearAll()">cancelar</button>
                                                                <button id="#" class="number-button py-2 btn1 btn-warning text-uppercase text-center" (click)="clearInput()">limpar</button>                                                                
                                                                <button id="#" class="number-button py-2 btn1 btn-success text-uppercase text-center" (click)="success()">entrar</button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="footer-section">
                <div class="footer-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-8 ftr-left">
                                <span class="ftr-text"> Modulo PDV </span>
                                <span class="ftr-text">
                                    <i class=" fa fa-cart-plus"></i>
                                    Caixa Fechado
                                </span>
                            </div>
                            <div class="col-4 ftr-right">
                                <span class="ftr-text online">
                                    <i class="fa fa-cloud"></i>
                                    Online
                                </span>
                                <span class="ftr-text">
                                    <i class=" fa fa-calendar"></i>
                                    26/06/2018
                                </span>
                                <span class="ftr-text">
                                    <i class=" fa fa-clock-o"></i>
                                    23:45
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>


    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>