body {
    position: relative;
    background: #cccccc;
}
header, footer {
    background: gray;
    color: #cccccc;
    font-weight: 600;
}
header .heading .title {
    margin-bottom: 0;
    padding: 5px 0;
}

.col-left-img {
    height: 600px;
    width: 860px;
}
.col-left-img img {
    width: 100%;
    border: 5px solid gray;
    border-radius: 50px;
}

.signin-form .form-group .form-control {
    height: 50px;
}

.col-right-form .heading .title {
    color: #787878;
}
.signin-form label {
    font-size: 12px;
    color: #787878;
    font-weight: 600;
}
.signin-form input {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
}
.signin-form input:focus {
    background: #787878;
    color: #ffffff;
}
#calculator {
    height: auto;
    color: #fff;
    margin-top: 15%;
    box-shadow: 0 0 15px #000;
}
.number-button{
    height: 60px;
    width: 33.33%;
    float: left;
    font-size: 38px;
    font-weight: 600;
    color: #ffffff;
    outline: none;
}
.col-right, .col-right-form, .calculator, .number-buttons-group {
    float: left;
    width: 100%;
    clear: both;
}
.col-right-form .heading, .signin-form {
    width: 73%;
}
.number-buttons-group ul {
    float: left;
    width: 100%;
    clear: both;
    border: 1px solid #000;
    border-right: 0 none;
    border-bottom: 0 none;
}
.number-buttons-group ul li {
    list-style-type: none;
    float: left;
    clear: both;
    width: 100%;
    border-bottom: 1px solid #000;
}
.number-buttons-group ul li a {
    border-right: 1px solid #000;
}
.number-button:hover{
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    background: #dddddd;
    text-decoration: none;
}
.number-button.active, .number-button:active{
    transform: scale(0.9);
    background: #E64A19;
}
.bg-grey {
    background: #787878;
}
.btn1 {
    font-size: 16px;
    line-height: 38px;
}

.ftr-text {
    margin-right: 20px;
    display: inline-block;
}
.ftr-text.online {
    margin-right: 65px;
}
.ftr-text.online i {
    color: #097b0c;
}


/*Responsive*/

@media screen and (max-width: 1365px) and (min-width: 1200px) {
    .col-left-img {
        height: auto;
        width: 100%;
    }
    .col-right-form .heading, .signin-form {
        width: 90%;
    }
    .col-right-form .heading {
        margin-bottom: 10px !important;
    }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
    .col-left-img {
        height: calc(100vh - 100px);
        width: 100%;
    }
    .col-left-img img {
        height: 100%;
        object-fit: cover;
    }
    .col-right-form .heading, .signin-form {
        width: 100%;
    }
    .col-right-form .heading {
        margin-bottom: 10px !important;
    }
    .btn1 {
        font-size: 14px;
        line-height: 42px;
    }
}